* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    text-align: center;
    width: 320px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: grey;
    
}
.logo{
    width: 180px;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.nav-list {
    list-style: none;
    display: flex;
    width: min(1200px,100%);
    margin: 0 auto;
    gap: 1rem
    ;
}

.nav-list li a{
    text-decoration: none;
    color: black;
}


    
#hero {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    background-image: url(media/DSCF0036.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.container{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    max-width: 1400px;
    margin: auto;

}
.img-container {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 200px; 
    height: 200px;
    background-image: url("media/DSCF0042\ copia.JPG");
    background-size: cover;
    background-position: center;
    border-radius: 50%; 
    margin-bottom: 20px;
    
    
  }
  
section{
    display: flex;
    justify-content: center;
    align-items: center;
}

